.data {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

.separator {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.inputs {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.5s;
  z-index: 2;
}

.input {
  width: 45%;
  font-family: var(--agb);
  font-size: 1.5vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
}

.title {
  margin-left: 4%;
  margin-bottom: 2.5%;
}

.name-and-surname {
  width: 100%;
  height: 5vh;
  border-radius: 25px;
  outline: none;
  border: none;
  color: var(--blue);
  font-family: var(--agr);
  font-size: 1.2vw;
  padding: 5%;
}

.name-and-surname::placeholder {
  color: var(--blue);
}

.select {
  width: 100%;
  height: 5vh;
  background-color: white;
  color: var(--blue);
  font-family: var(--agr);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1.2vw;
}

.options {
  width: 100%;
  background-color: white;
  color: var(--blue);
  font-family: var(--agr);
  font-size: 1.2vw;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 25px;
  position: absolute;
  top: 105%;
  left: 0;
  opacity: 1;
  animation: appear 0.5s ease-in-out;
}

.option {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}

.option:first-child {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.option:last-child {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.option:hover {
  background-color: var(--blue);
  color: white;
}

.selected {
  transform: rotateZ(180deg);
  transition: transform 0.5s ease-in-out;
}

.notSelected {
  transform: rotateZ(0);
  transition: transform 0.5s ease-in-out;
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.images {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.image {
  width: 15vw;
  height: 15vw;
  border-radius: 50%;
  position: absolute;
  top: -20vw;
}

.image:nth-child(1) {
  left: 68%;
  transform: scale(0.5) rotateZ(90deg);
  box-shadow: 0 0 25px var(--blue), 0 0 25px var(--blue), 0 0 25px var(--blue);
  animation: fall 10s ease-in-out infinite 0.5s;
}

.image:nth-child(2) {
  left: 40%;
  transform: scale(0.25) rotateZ(130deg);
  box-shadow: 0 0 25px var(--blue), 0 0 25px var(--blue), 0 0 25px var(--blue);
  animation: fall 10.8s ease-in-out infinite 0.75s;
}

.image:nth-child(3) {
  left: 20%;
  transform: scale(0.4) rotateZ(180deg);
  box-shadow: 0 0 25px var(--pink), 0 0 25px var(--pink), 0 0 25px var(--pink);
  animation: fall 12s ease-in-out infinite;
}

.image:nth-child(4) {
  left: 7%;
  transform: scale(0.55) rotateZ(200deg);
  box-shadow: 0 0 25px var(--blue), 0 0 25px var(--blue), 0 0 25px var(--blue);
  animation: fall 9s ease-in-out infinite 0.75s;
}

.image:nth-child(5) {
  left: 17%;
  transform: scale(1) rotateZ(80deg);
  box-shadow: 0 0 25px var(--light-blue), 0 0 25px var(--light-blue),
    0 0 25px var(--light-blue);
  animation: fall 15.5s ease-in-out infinite 0.75s;
}

.image:nth-child(6) {
  left: 28%;
  transform: scale(0.7) rotateZ(280deg);
  box-shadow: 0 0 25px var(--light-blue), 0 0 25px var(--light-blue),
    0 0 25px var(--light-blue);
  animation: fall 8.5s ease-in-out infinite;
}

.image:nth-child(7) {
  left: 74%;
  transform: scale(0.65) rotateZ(210deg);
  box-shadow: 0 0 25px var(--light-blue), 0 0 25px var(--light-blue),
    0 0 25px var(--light-blue);
  animation: fall 15s ease-in-out infinite 0.5s;
}

.image:nth-child(8) {
  left: 47%;
  transform: scale(0.55) rotateZ(300deg);
  box-shadow: 0 0 25px var(--light-blue), 0 0 25px var(--light-blue),
    0 0 25px var(--light-blue);
  animation: fall 14s ease-in-out infinite 0.75s;
}

.image:nth-child(9) {
  left: 84%;
  transform: scale(0.8) rotateZ(205deg);
  box-shadow: 0 0 25px var(--pink), 0 0 25px var(--pink), 0 0 25px var(--pink);
  animation: fall 9.5s ease-in-out infinite;
}

.image:nth-child(10) {
  left: 60%;
  transform: scale(0.63) rotateZ(165deg);
  box-shadow: 0 0 25px var(--blue), 0 0 25px var(--blue), 0 0 25px var(--blue);
  animation: fall 13.5s ease-in-out infinite 0.5s;
}

.image:nth-child(11) {
  left: 3%;
  transform: scale(1.1) rotateZ(310deg);
  box-shadow: 0 0 25px var(--pink), 0 0 25px var(--pink), 0 0 25px var(--pink);
  animation: fall 10.5s ease-in-out infinite 0.75s;
}

.image:nth-child(12) {
  left: 53%;
  transform: scale(1.1) rotateZ(310deg);
  box-shadow: 0 0 25px var(--pink), 0 0 25px var(--pink), 0 0 25px var(--pink);
  animation: fall 10.5s ease-in-out infinite 0.75s;
}

@keyframes fall {
  100% {
    transform: translateY(calc(120vh + 20vw));
  }
}

@media screen and (orientation: portrait) and (max-width: 1050px) {
  .inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .input {
    width: 80%;
    font-family: var(--agb);
    font-size: 3.5vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 2.5%;
    -webkit-tap-highlight-color: transparent;
  }

  .title {
    margin-left: 4%;
    margin-bottom: 2.5%;
  }

  .name-and-surname {
    width: 100%;
    height: 5vh;
    border-radius: 25px;
    outline: none;
    border: none;
    color: var(--blue);
    font-family: var(--agr);
    font-size: 2.5vw;
    padding: 5%;
  }

  .name-and-surname::placeholder {
    color: var(--blue);
  }

  .select {
    width: 100%;
    height: 5vh;
    background-color: white;
    color: var(--blue);
    font-family: var(--agr);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    border-radius: 25px;
    cursor: pointer;
    font-size: 2.5vw;
  }

  .options {
    width: 100%;
    background-color: white;
    color: var(--blue);
    font-family: var(--agr);
    font-size: 2.5vw;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 25px;
    position: absolute;
    top: 105%;
    left: 0;
    opacity: 1;
    animation: appear 0.5s ease-in-out;
  }

  .option {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--blue);
    -webkit-tap-highlight-color: transparent;
  }

  .option:first-child {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .option:last-child {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .selected {
    transform: rotateZ(180deg);
    transition: transform 0.5s ease-in-out;
  }

  .notSelected {
    transform: rotateZ(0);
    transition: transform 0.5s ease-in-out;
  }

  .image {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    position: absolute;
    top: -40vw;
  }
}
